body{
    background-color: #efefef;
    color:#333;
}

#nav-div{
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: space-between;
    background-color: rgb(36, 48, 100);
    width: 25vw;
    height: 100vh;
    position: fixed;
    font-size: 1.2em;
    color: #777;
    top: 0;
}
#grid-row0{
    grid-area: auto;
    height: 20vh;
    font-size: 4em;
  
}
#grid-row1{
    grid-area: auto;
    font-size: 1.3em;
    height: 12vh;
}
#grid-row2{
    grid-area: auto;
    height: 12vh;
    font-size: 1.3em;
}
#grid-row3{
    grid-area: auto;
    font-size: 1.3em;
    height: 12vh;
}
#grid-row4{
    grid-area: auto;
    height: 12vh;
    font-size: 1.3em;
}
#grid-row5{
    grid-area: auto;
    font-size: 1.3em;
    height: 12vh;
}
#grid-row6{
    grid-area: auto;
    height: 12vh;
    font-size: 1.3em;
}


a{
    color: #a89494;
}
a:hover{
    color: rgb(118, 118, 98);
}

#main-doc{
    margin-left: 25vw;
    font-size: 1.2em;
    top: 0;
    line-height: 1.4em;
}
h1{
    margin-left: 1em;
}
h3{
    margin-left: 1em;
}
p{
    margin-left: 2em;
}
li{
    margin-left: 3em;
}
code{
   background-color: #ccc; 
}

@media (max-width: 800px){
    #nav-div{
        display: none;
        background-color: rgb(36, 48, 100);
        width: 75vw;
        height: 100vh;
        position: fixed;
        font-size: 0.8em;
        color: #555;
        top: 10vh;
        padding: 2vh;


    }
    a{
        font-size: 1.5em;
    }
    #main-doc{
        margin-left:0;
        margin-top: 10vh;
        

    }
    #burger{
            display: block;
            position: fixed;
            cursor: pointer;
            top:5vh;
    }
    #line1, #line2, #line3 {
        width: 5vw;
        height: 0.8vh;
        background-color: #555;
        margin: 1vh 0;
        border-radius: 25%;
    }
    .nav-div .on{
        
        font-size: 1em;
        width: 100vw;
        height: 30vh;
        top: 0;
        position: sticky;
    
}   